.quotation-form {
  font-family: Arial, sans-serif;
  //display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 0 auto;
  font-size: 12px;

  .logo img {
    max-width: 60px;
    height: auto;
  }

  .text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7px;

    div {
      margin-bottom: 13px;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 30px 5px 10px;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: red;
    width: 100%;
    text-indent: 10px;
    margin-top: -35px;

    &:after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      pointer-events: none;
    }

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid transparent;
    }
  }


  .right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .right-text div strong {
    margin-bottom: 1px;
  }

  .right-text input[type="text"] {
    border: none;
    padding: 5px;
    transition: border 0.3s;
    width: 600px;
    background-color: transparent;
    flex: 1;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
  }

  .right-text input[type="text"]:focus {
    outline: none;
  }


  .supplier-selection {
    align-self: flex-start;
    margin-top: 0px;
    width: 100%;

    label {
      font-weight: bold;
      display: block;
    }
  }

  .price-table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    align-self: center;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td,

      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }

      img {
        max-width: 50px;
        height: auto;
      }
    }
  }
}

.center-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.small-combobox-container {
  flex: 0.2;
}

.centered-content {
  display: flex;
  align-items: center;
}

.small-combobox {
  width: auto;
  max-width: 100%;
}

.small-textbox {
  margin-left: 50px;
  padding: 5px;
  border: none;
  border-bottom: 1px dotted #fff;
  background-color: transparent;
}

.small-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}